<!DOCTYPE html>

{% load static %}
{% load mineral_extras %}


<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MineCat: {% block title %}{% endblock %} </title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/global.css" %}">
</head>
<body>

    <div class="bounds">
        {% logo_header %}
        <nav class="text-centered">
            <form class='form' action="{% url 'minerals:search' %}" method="GET">
                <input type="search" name="q">
                <button type="submit" class="">Search</button>
            </form>
        </nav>
        {% alpha_nav current %}
    <br>
        {% group_search current %}
        {% block content %}
        {% endblock %}
    </div>

    {% random_mineral %}

</body>
</html>